/* Reset margin and padding for all elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling for body */
body {
  margin: 0;
  padding: 0;
  background-color: #e6f7e6; /* Atur background sesuai preferensi */
}
/*  */
/* Links */
a {
  color: #4caf50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Add any other global resets or styles here
